body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #3e3e3e;
  color: #d4d4d4;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  color: #d9534f;
  text-align: center;
  text-shadow: 3px 3px #000;
}

.container {
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.tools {
  display: flex;
  height: 70%;
  gap: 20px;
}

.editor {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
}

.code-input {
  position: relative;
  width: 100%;
  height: 80%;
}

#code-input {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  color: #d4d4d4;
  border: none;
  padding: 10px;
  padding-right: 50px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

.editor-blocks {
  display: flex;
  height: 20%;
}

.input-container {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

#input {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  background-color: #252526;
  color: #d4d4d4;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

.output-container {
  width: 100%;
  background-color: #252526;
  padding: 10px;
  border-bottom: 1px solid #333;
  overflow-y: auto;
}

.debugger {
  flex: 0.5;
  background-color: #252526;
  padding: 10px;
  overflow-y: auto;
}

#debugger-container {
  width: 100%;
  height: 100%;
}

#run-button {
  position: absolute;
  height: 32px;
  width: 32px;
  background-image: url('./images/play.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

#run-button:hover {
  background-image: url('./images/play-hover.png');
}
